<!doctype html>
<html class="no-js" lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lab 5: Foundation</title>
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        <div class="grid-x">
            <div class="cell small-6"><h1>Laboratorio 10</h1></div>
            <div class="cell small-6">
                <div class="button-group">
                    <a class="large button" href="https://get.foundation/sites/docs/kitchen-sink.html">Hola</a>
                    <a class="large button" href="https://get.foundation/sites/docs/xy-grid.html">Adios</a>
                </div>
            </div>
        </div>
        <!--FORM-->
        <div>
            <form action="/agregar" method="POST">
                <Label>Nombre:</Label>
                <input type="text" placeholder="Nombre" id="nombre" name="nombre">
                <input class="button" type="submit" value="Enviar">

            </form>
        </div>

    <div>
        <form action="/opiniones" method="POST">
            <Label>Dame tu opinion de la página:</Label>
            <input type="text" placeholder="Escribe aqui..." id="opinion" name="opinion">
            <div class="input-group-button">
                <input type="submit" class="button" value="Enviar">
            </div>
        </form>
    </div>
    </body>